.e-treeview .e-list-text {
  pointer-events: auto;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

#header-section .float-right,
#sidebar-treeview .e-treeview .e-icon-collapsible,
#sidebar-treeview .e-treeview .e-icon-expandable {
  float: right;
}

#header-section .header-list,
#sidebar-treeview .e-treeview,
#sidebar-treeview .e-treeview .e-ul {
  padding: 0px;
  margin: 0px;
}
.control {
  padding: 10px;
}
#contextmenutarget {
  border: 1px dashed;
  height: 250px;
  padding: 10px;
  position: relative;
  text-align: center;
  line-height: 17;
  font-size: 14px;
}
